name: Autograding Tests
'on':
- push
- repository_dispatch
permissions:
  checks: write
  actions: read
  contents: read
jobs:
  run-autograding-tests:
    runs-on: ubuntu-latest
    if: github.actor != 'github-classroom[bot]'
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: a02 Autograder
      id: a02-autograder
      uses: classroom-resources/autograding-command-grader@v1
      with:
        test-name: a02 Autograder
        setup-command: npm ci
        command: npm run test
        timeout: 10
        max-score: 80
    - name: Autograding Reporter
      uses: classroom-resources/autograding-grading-reporter@v1
      env:
        A02-AUTOGRADER_RESULTS: "${{steps.a02-autograder.outputs.result}}"
      with:
        runners: a02-autograder
